.fa-comment {
  position: relative;
}

.badge__number--red {
  width: 10px;
  height: 10px;
  font-size: 11px;
  font-weight: 700;
  background-color: tomato;
  color: white;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: -10px;
  bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bingle 1s ease-in-out infinite;
}

@keyframes bingle {
  from {
    transform: none;
  }
  to {
    transform: rotateY(360deg);
  }
}

.dot__icon {
  position: relative;
}

.badge__dot--red {
  width: 4px;
  height: 4px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: -3px;
  bottom: 16px;
}

.find__header .fa-cog {
  position: relative;
}

.badge__dot__cog--red {
  width: 4px;
  height: 4px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 45px;
}

.badge__position {
  display: flex;
  justify-content: center;
}

.badge__date {
  width: 155px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 13px;
  padding: 7px 10px;
  text-align: center;
  border-radius: 30px;
  margin-top: 15px;
}

.chat__bubble {
  position: relative;
}

.badge__time {
  font-size: 12px;
  position: absolute;
  right: -38px;
  bottom: 0px;
}

.my__bubble {
  position: relative;
}

.my__time {
  font-size: 12px;
  position: absolute;
  left: -38px;
  bottom: 0px;
}

/* chats 창 작업이랑 섞여있음 */
.badge_plus-white {
  width: 5px;
  height: 5px;
  font-size: 15px;
  font-weight: 700;
  background-color: white;

  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: -8px;
  bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorry-badge {
  margin-right: -15px;
}

.chats-ver > div {
  padding: 0px 5px;
}

.chat__pic {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 28px;
}

.message-preview {
  padding-top: 8px;
  padding-left: 17px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.chat__friend {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
}

.message-time {
  color: rgba(0, 0, 0, 0.4);
}

.chats__info {
  margin: 12px 25px 50px 15px;
  position: relative;
}

.chat__new-message {
  width: 10px;
  height: 10px;
  font-size: 11px;
  font-weight: 700;
  background-color: tomato;
  color: white;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__pua {
  width: 100%;
  margin: 0px 20px 0px 10px;
}

.chat__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*animation*/

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
  will-change: contents;
}

@keyframes musicCode {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: none;
  }
}

.fa-itunes-note:hover {
  animation: musicCode 0.5s ease-in-out infinite;
}
