.fa-comment {
  position: relative;
}

.badge__number--red {
  width: 10px;
  height: 10px;
  font-size: 11px;
  font-weight: 700;
  background-color: tomato;
  color: white;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: -10px;
  bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot__icon {
  position: relative;
}

.badge__dot--red {
  width: 4px;
  height: 4px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: -3px;
  bottom: 16px;
}

.find__header .fa-cog {
  position: relative;
}

.badge__dot__cog--red {
  width: 4px;
  height: 4px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 45px;
}

/* chats 창 작업이랑 섞여있음 */
.badge_plus-white {
  width: 5px;
  height: 5px;
  font-size: 15px;
  font-weight: 700;
  background-color: white;

  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: -8px;
  bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorry-badge {
  margin-right: -15px;
}

.chats-ver > div {
  padding: 0px 5px;
}

.chat__pic {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 28px;
}

.message-preview {
  padding-top: 8px;
  padding-left: 17px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.chat__friend {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
}

.message-time {
  color: rgba(0, 0, 0, 0.4);
}

.chats__info {
  margin: 12px 25px 10px 25px;
  position: relative;
}

.chat__new-message {
  width: 10px;
  height: 10px;
  font-size: 11px;
  font-weight: 700;
  background-color: tomato;
  color: white;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__pua {
  width: 100%;
  padding: 0px 10px 30px 10px;
}

.chat__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
